Repository a11y-gigachad-org/a11y-gigachad-file-upload: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --max-warnings=0 --fix, npx tsc --noEmit --skipLibCheck --jsx react-jsx, npx prettier --write --ignore-unknown

docs(readme): delete
  README.md
Due: npx prettier --write --ignore-unknown

build(pkg): add keywords
  package.json
Due: none

build(pkg): rename package
  package.json
Due: none

refactor(dummy): remove no longer needed
  src/Dummy.test.tsx
  src/Dummy.tsx
  src/index.ts
Due: npx eslint --max-warnings=0 --fix, npx tsc --noEmit --skipLibCheck --jsx react-jsx, npx prettier --write --ignore-unknown

feat(fileuploadsingle): create component
  src/FileUploadSingle.tsx
Due: npx eslint --max-warnings=0 --fix, npx tsc --noEmit --skipLibCheck --jsx react-jsx, npx prettier --write --ignore-unknown

build(test): install fetch polyfill for jest
  jest.setup.ts
  package-lock.json
  package.json
Due: npx eslint --max-warnings=0 --fix, npx tsc --noEmit --skipLibCheck --jsx react-jsx, npx prettier --write --ignore-unknown

refactor(upload): make props optional
  src/FileUploadSingle.tsx
Due: npx eslint --max-warnings=0 --fix, npx tsc --noEmit --skipLibCheck --jsx react-jsx, npx prettier --write --ignore-unknown

test(upload): write tests out
  src/FileUploadSingle.test.tsx
Due: npx eslint --max-warnings=0 --fix, npx tsc --noEmit --skipLibCheck --jsx react-jsx, npx prettier --write --ignore-unknown

fix(build): remove import from outside of src/
  jest.setup.ts
  src/FileUploadSingle.test.tsx
  src/FileUploadSingle.tsx
Due: npx eslint --max-warnings=0 --fix, npx tsc --noEmit --skipLibCheck --jsx react-jsx, npx prettier --write --ignore-unknown

Notes added by 'git notes add'
  5478c245fdf1d2abf1776dd5fd4ce27442b9949b
Due: none

fix(docs): write out description
  README.md
Due: npx prettier --write --ignore-unknown

Notes added by 'git notes add'
  59091e5a40b954267386ff0b435b84eeb2f88978
Due: none

fix(test): remove unnecessary export
  src/FileUploadSingle.test.tsx
Due: npx eslint --max-warnings=0 --fix, npx tsc --noEmit --skipLibCheck --jsx react-jsx, npx prettier --write --ignore-unknown

Notes added by 'git notes add'
  afd5a5365a8b4f34d44f75cdd7f05df7f708057a
Due: none

feat(fileupload): use shorthand
  src/FileUploadSingle.tsx
Due: npx eslint --max-warnings=0 --fix, npx tsc --noEmit --skipLibCheck --jsx react-jsx, npx prettier --write --ignore-unknown

Notes added by 'git notes add'
  dfb500e61709d7a312525f90155fb4cf22b1e9a2
Due: none

refactor(test): improve legibility
  src/FileUploadSingle.test.tsx
Due: npx eslint --max-warnings=0 --fix, npx tsc --noEmit --skipLibCheck --jsx react-jsx, npx prettier --write --ignore-unknown

Path conditions:
  npx eslint --max-warnings=0 --fix: any of: *.{js,jsx,ts,tsx}
  npx tsc --noEmit --skipLibCheck --jsx react-jsx: any of: *.{ts,tsx}
  npx prettier --write --ignore-unknown: any of: *.{js,jsx,ts,tsx,md,html,css}
